.headerBlog {
  background-image: url(../assets/blog-1.jpeg);
  background-position: 20% 0;
}

//  Featured post styles

.featuredPost {
  padding: 75px 0 25px;
  text-align: center;

  h1 {
    font-size: 1.3rem;
  }

  .postByline {
    width: 80%;
    margin: 0 auto;
  }
}

.postInfo {
  @include flex(space-between, center);
  border-bottom: 1px solid lighten($black, 50);

  .author {
    width: 100%;
    margin-top: 40px;
    @include flex(center, center);
    flex-direction: column;

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    .authorText {
      margin: 20px 0;
      h4 {
        margin: 0;
      }

      p {
        font-size: 0.7rem;
        margin: 5px 0 0 0;
      }
    }
  }

  ul {
    display: none;
  }
}

.postText {
  margin-top: 40px;
  text-align: left;
}

.postShare {
  @include flex(center, center);

  ul {
    @include flex(space-between, center);
    padding: 0;

    li {
      margin: 20px;

      a {
        font-size: 1rem;
        transition: all 0.5s ease;

        &:hover,
        &:focus {
          color: lighten($black, 30);
        }
      }
    }
  }
}

// Related posts styles

.relatedPosts {
  @include flex(center, center);
  flex-direction: column;
  text-align: center;

  h3 {
    font-weight: bold;
  }

  ul {
    border-top: 1px solid lighten($black, 50);
    margin-top: 0;
    padding-top: 40px;
    padding-left: 0;
    width: 100%;

    li {
      margin-bottom: 40px;
    }

    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      object-position: 50% 75%;
      display: block;
      border: 1px solid transparent;
      position: relative;
      animation: borderOut 0.5s ease-in-out;

      &:hover,
      &:focus {
        animation: borderIn 0.5s ease-in-out forwards;
      }
    }

    p {
      margin-top: 10px;

      &:hover,
      &:focus {
        color: lighten($black, 20);
      }
    }
  }
}

// Omit last related post on mobile views
.lastPost {
  display: none;
}

// Post comments section styles

.postComments {
  margin-bottom: 50px;
}
.postComments h3 {
  font-weight: bold;
  text-align: center;
}

.comment1 {
  border-top: 1px solid lighten($black, 50);
  padding-top: 40px;
}

.comment {
  @include flex(space-between, flex-start);
  margin-bottom: 40px;

  img {
    margin-right: 20px;
    max-height: 75px;
    object-fit: contain;
  }
}

// comment section speech bubble styles
.bubble {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $secondWhite;
  padding: 20px;
  position: relative;

  h4 {
    font-size: 0.7rem;
    margin: 0;

    span {
      text-transform: capitalize;
      font-style: italic;
    }
  }

  p {
    font-size: 0.7rem;
    color: lighten($black, 20);
  }

  .commentDate {
    margin: 0;
    font-size: 0.6rem;
    color: lighten($black, 30);
  }
}

// Triangles on speech bubbles in comment section
.bubble::after {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid $secondWhite;
}

// Comment form styles

.commentForm h3 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid lighten($black, 50);
  margin: 0;
}
