// Header Styles for Contact Page
.headerContact {
  height: 50vh;
  min-height: 200px;
  max-height: 350px;
}

.contactLogo {
  font-size: 1rem;
}

.contactUsContainer {
  position: relative;
}

.contactUsImg {
  height: 20vh;
}

.contactUsImg img {
  height: 100%;
  object-fit: cover;
  object-position: 30% 0;
}

.contactUsText {
  position: absolute;
  left: 10%;
  bottom: -36px;
  width: 175px;
}

//  Main section styles for contact page

.contactDetails {
  text-align: center;

  h3 {
    font-weight: bold;
  }

  p,
  address {
    color: lighten($black, 20);
  }

  ul {
    margin: 75px 0;
    padding-left: 0;

    li {
      padding: 50px 0;
      border-bottom: 1px solid lighten($black, 50);

      i {
        font-size: 2rem;
      }

      h4 {
        font-weight: bold;
        letter-spacing: 5px;
      }

      p {
        margin-bottom: 0;
      }

      address {
        font-size: 0.8rem;
        font-family: $secondFont;
        font-style: normal;
      }
    }
  }
}

.getInTouchForm {
  text-align: center;
  h3 {
    font-weight: bold;
  }

  p {
    color: lighten($black, 20);
  }
}
