header {
  height: 100vh;
  background-size: cover;
  background-position: 50% 0;
  min-height: 500px;
  max-height: 800px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.siteNavList,
input.toggle {
  display: none;
}

.siteLogo {
  order: -1;
  font-weight: bold;
  letter-spacing: 3px;
}

h2.siteLogo {
  margin: 20px 0;
}

label.toggle {
  color: $black;
  z-index: 6;
  font-size: 1.5rem;
  order: 2;
}

.siteNav {
  position: relative;
  @include flex(flex, space-between, center);
}

.siteNavList {
  padding: 0;
  text-align: center;
}

.navListGroup {
  padding: 10px 0 0 0;
}

.innerList {
  padding-left: 0;
}

.innerList li {
  padding: 10px 0;
}

input[type='checkbox']:checked + .siteNavList {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  min-height: 30vh;
  background-color: $white;
  border-radius: 3px;
  z-index: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.bottomList {
  padding: 0 0 20px;
  a {
    position: relative;
    span {
      position: absolute;
      bottom: -5px;
      right: -8px;

      width: 18px;
      height: 18px;

      background-color: $primary;
      color: $black;

      border-radius: 50%;
      text-align: center;
      font-size: 0.7rem;
      padding: 1px;
    }
  }
}
