@media (min-width: 768px) {
  nav {
    position: relative;
  }
  label.toggle {
    display: none;
  }

  .siteNavList {
    font-size: 0.7rem;
    width: 100%;
    @include flex(flex, space-between, center);
    li {
      display: flex;
      justify-content: space-between;
      .innerList {
        padding: 0;
        display: flex;
        align-items: center;
        li {
          padding: 0 15px;
          transition: all 0.5s ease;
          &:hover,
          &:focus {
            text-decoration: line-through;
          }
          a {
            transition: all 0.5s ease;
            &:hover,
            &:focus {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .bottomList {
    padding-top: 10px;
  }

  .siteLogo {
    font-size: 1rem;
    text-align: center;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 7px;
    right: calc(50% - 100px);
    left: calc(50% - 100px);
  }

  .bottomList {
    a {
      span {
        width: 14px;
        height: 14px;
        font-size: 0.6rem;
        padding: 0;
      }
    }
  }
}

@media (min-width: 940px) {
  .siteNavList {
    font-size: 0.9rem;
  }

  .siteLogo {
    font-size: 1.3rem;
  }

  .bottomList {
    a {
      span {
        bottom: -8px;
        right: -10px;
        width: 18px;
        height: 18px;
        font-size: 0.7rem;
        padding: 1px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .siteNavList {
    font-size: 1rem;
  }

  .siteLogo {
    font-size: 1.5rem;
  }
}
