html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
}

.innerWrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

h1,
h2,
h3,
h4,
h5,
nav a,
button {
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
}

img {
  max-width: 100%;
}

p,
a {
  font-size: 0.8rem;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

a {
  color: #333333;
  text-decoration: none;
}

ul {
  list-style-type: none;
  line-height: 1.4;
}

.userForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
.userForm input,
.userForm .userComment {
  font-size: 0.8rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  text-align: center;
  padding: 40px 0 10px;
}
.userForm input:hover, .userForm input:focus,
.userForm .userComment:hover,
.userForm .userComment:focus {
  outline: none;
  color: #333333;
  border-bottom: 1px solid #333333;
}
.userForm input:hover::-webkit-input-placeholder, .userForm input:focus::-webkit-input-placeholder, .userForm .userComment:hover::-webkit-input-placeholder, .userForm .userComment:focus::-webkit-input-placeholder {
  opacity: 1;
}
.userForm input:hover::-moz-placeholder, .userForm input:focus::-moz-placeholder, .userForm .userComment:hover::-moz-placeholder, .userForm .userComment:focus::-moz-placeholder {
  opacity: 1;
}
.userForm input:hover:-ms-input-placeholder, .userForm input:focus:-ms-input-placeholder, .userForm .userComment:hover:-ms-input-placeholder, .userForm .userComment:focus:-ms-input-placeholder {
  opacity: 1;
}
.userForm input:hover::-ms-input-placeholder, .userForm input:focus::-ms-input-placeholder, .userForm .userComment:hover::-ms-input-placeholder, .userForm .userComment:focus::-ms-input-placeholder {
  opacity: 1;
}
.userForm input:hover::placeholder, .userForm input:focus::placeholder,
.userForm .userComment:hover::placeholder,
.userForm .userComment:focus::placeholder {
  opacity: 1;
}
.userForm fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}
.userForm .userComment {
  resize: none;
  height: 250px;
}
.userForm button {
  margin: 50px 0;
  font-size: 0.9rem;
}

@-webkit-keyframes line {
  0% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes line {
  0% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  padding: 5px 0;
  border: 1px solid transparent;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn::after {
  display: block;
  content: "";
  border-bottom: 1px solid #333333;
  padding-top: 5px;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.btn:hover::after, .btn:focus::after {
  -webkit-animation: line 0.5s;
          animation: line 0.5s;
}

@-webkit-keyframes borderIn {
  0% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  33% {
    border-top: 1px solid #333333;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  66% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #333333;
  }
  100% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
  }
}

@keyframes borderIn {
  0% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  33% {
    border-top: 1px solid #333333;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  66% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #333333;
  }
  100% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
  }
}
@-webkit-keyframes borderOut {
  0% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
  }
  33% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #333333;
  }
  66% {
    border-top: 1px solid #333333;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  100% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}
@keyframes borderOut {
  0% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
  }
  33% {
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #333333;
  }
  66% {
    border-top: 1px solid #333333;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  100% {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}
header {
  height: 100vh;
  background-size: cover;
  background-position: 50% 0;
  min-height: 500px;
  max-height: 800px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.siteNavList,
input.toggle {
  display: none;
}

.siteLogo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-weight: bold;
  letter-spacing: 3px;
}

h2.siteLogo {
  margin: 20px 0;
}

label.toggle {
  color: #333333;
  z-index: 6;
  font-size: 1.5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.siteNav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteNavList {
  padding: 0;
  text-align: center;
}

.navListGroup {
  padding: 10px 0 0 0;
}

.innerList {
  padding-left: 0;
}

.innerList li {
  padding: 10px 0;
}

input[type=checkbox]:checked + .siteNavList {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  min-height: 30vh;
  background-color: #ffffff;
  border-radius: 3px;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomList {
  padding: 0 0 20px;
}
.bottomList a {
  position: relative;
}
.bottomList a i {
  font-size: 1rem;
}
.bottomList a .cart {
  position: absolute;
  bottom: -8px;
  right: -8px;
  background-color: #c3dab7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.7rem;
}

footer {
  background-color: #333333;
  color: #ffffff;
  margin: 0;
}

footer a {
  color: #ffffff;
}

.footerContainer {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footerContainer h5,
.footerContainer .contact {
  text-align: center;
}
.footerContainer h5 {
  color: #ffffff;
  font-size: 1.3rem;
  margin: 25px 0;
}
.footerContainer address {
  font-style: normal;
}
.footerContainer a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footerContainer a:hover {
  color: #c3dab7;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  margin: 0;
}
.social ul a {
  font-size: 1.5rem;
}

.recentPosts {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  padding: 10px 0;
}
.recentPosts ul {
  list-style-type: disc;
}
.recentPosts ul li {
  padding: 10px;
}

.subscribeNow p {
  text-align: center;
  margin-bottom: 20px;
}
.subscribeNow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribeNow div input {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
  border: none;
  height: 35px;
}
.subscribeNow div button {
  border: none;
  background-color: #c3dab7;
  font-size: 1.2rem;
  height: 35px;
  width: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribeNow div button:hover, .subscribeNow div button:focus {
  color: gray;
}
.subscribeNow div button:active {
  font-size: 1rem;
}

.siteOwnership {
  border-top: 1px solid #777777;
}

.siteOwnership p {
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 50px 0;
  text-align: center;
}

.headerHome {
  background-image: url(../assets/home-1.jpeg);
}

.promo {
  background-color: #c3dab7;
  padding: 150px 0 40px;
}
.promo figure {
  position: relative;
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.promo figure .promoImg {
  width: 100%;
}
.promo figure .stamp {
  width: 40%;
  position: absolute;
  top: -40px;
  left: -25px;
}
.promo .promoTextContainer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.promo .promoTextContainer div {
  margin: 50px 0;
}
.promo .promoTextContainer h3 {
  font-size: 1rem;
}

.carousel {
  padding: 50px 0;
}
.carousel p {
  text-align: center;
  width: 80%;
  margin: 50px auto 0;
}

.carouselImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carouselImgContainer span i {
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.carouselImgContainer span i:hover {
  opacity: 0.5;
}
.carouselImgContainer img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.features {
  background-color: #f6f6f6;
}
.features img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
}
.features .featuresList ul {
  padding-left: 0;
}
.features .featuresList1 {
  padding-top: 50px;
}
.features .featuresList2 {
  padding-bottom: 50px;
}
.features .featuresListItem {
  text-align: center;
  padding-bottom: 20px;
}
.features .featuresListItem .icon i {
  text-align: center;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 50%;
}
.features .featuresListItem p {
  color: gray;
}

.team {
  margin-bottom: 100px;
}

.team h2 {
  text-align: center;
  margin-top: 60px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.gridContainer .gridTextContainer {
  background-color: #f6f6f6;
  padding: 100px 20px 20px;
  grid-column: 1/-1;
}
.gridContainer .gridTextContainer p {
  font-size: 0.7rem;
  color: gray;
}
.gridContainer img {
  width: 100%;
}
.gridContainer .workWithUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-animation: borderOut 0.5s linear;
          animation: borderOut 0.5s linear;
  border: 1px solid transparent;
}
.gridContainer .workWithUs:hover, .gridContainer .workWithUs:focus {
  -webkit-animation: borderIn 0.5s linear forwards;
          animation: borderIn 0.5s linear forwards;
}
.gridContainer .workWithUs a {
  font-size: 0.8rem;
}

.galleryImg {
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-animation: borderOut 0.5s ease-in-out;
          animation: borderOut 0.5s ease-in-out;
}
.galleryImg:hover, .galleryImg:focus {
  -webkit-animation: borderIn 0.5s ease-in-out forwards;
          animation: borderIn 0.5s ease-in-out forwards;
}

.portTextContainer {
  background-color: #c3dab7;
  text-align: center;
  padding: 50px 30px 65px;
}
.portTextContainer h2 {
  font-size: 1rem;
}
.portTextContainer p {
  margin-bottom: 50px;
}
.portTextContainer a {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #f6f6f6;
  padding: 15px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portTextContainer a:hover, .portTextContainer a:focus {
  color: #f6f6f6;
  background-color: #333333;
}
.portTextContainer a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.portImgContainer {
  display: none;
}

.modal,
.blogModal {
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none;
}

.modalContent,
.blogModalContent {
  border-radius: 4px;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 1000px;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  max-width: 90%;
  margin-bottom: 30px;
}

.blogModalContent {
  overflow: scroll;
  color: #333333;
}

.modalContent figure,
.blogModalContent figure {
  position: relative;
}

.modalContent img {
  max-height: 90vh;
  height: auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blogModalContent img {
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogModalContent div {
  background: #ffffff;
  padding: 10px;
}

.blogModalContent h3 {
  color: #333333;
  text-align: center;
}

.blogModalContent p {
  text-align: left;
}

.modalContent figcaption {
  color: #333333;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal.open,
.blogModal.open {
  opacity: 1;
  pointer-events: all;
}

.modal.open .modalContent,
.blogModal.open .blogModalContent {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.headerBlog {
  background-image: url(../assets/blog-1.jpeg);
  background-position: 20% 0;
}

.featuredPost {
  padding: 75px 0 25px;
  text-align: center;
}
.featuredPost h1 {
  font-size: 1.3rem;
}
.featuredPost .postByline {
  width: 80%;
  margin: 0 auto;
}

.postInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #b3b3b3;
}
.postInfo .author {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.postInfo .author img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.postInfo .author .authorText {
  margin: 20px 0;
}
.postInfo .author .authorText h4 {
  margin: 0;
}
.postInfo .author .authorText p {
  font-size: 0.7rem;
  margin: 5px 0 0 0;
}
.postInfo ul {
  display: none;
}

.postText {
  margin-top: 40px;
  text-align: left;
}

.postShare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.postShare ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.postShare ul li {
  margin: 20px;
}
.postShare ul li a {
  font-size: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.postShare ul li a:hover, .postShare ul li a:focus {
  color: gray;
}

.relatedPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.relatedPosts h3 {
  font-weight: bold;
}
.relatedPosts ul {
  border-top: 1px solid #b3b3b3;
  margin-top: 0;
  padding-top: 40px;
  padding-left: 0;
  width: 100%;
}
.relatedPosts ul li {
  margin-bottom: 40px;
}
.relatedPosts ul img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 75%;
     object-position: 50% 75%;
  display: block;
  border: 1px solid transparent;
  position: relative;
  -webkit-animation: borderOut 0.5s ease-in-out;
          animation: borderOut 0.5s ease-in-out;
}
.relatedPosts ul img:hover, .relatedPosts ul img:focus {
  -webkit-animation: borderIn 0.5s ease-in-out forwards;
          animation: borderIn 0.5s ease-in-out forwards;
}
.relatedPosts ul p {
  margin-top: 10px;
}
.relatedPosts ul p:hover, .relatedPosts ul p:focus {
  text-decoration: underline;
}

.lastPost {
  display: none;
}

.postComments {
  margin-bottom: 50px;
}

.postComments h3 {
  font-weight: bold;
  text-align: center;
}

.comment1 {
  border-top: 1px solid #b3b3b3;
  padding-top: 40px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}
.comment img {
  margin-right: 20px;
  max-height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bubble {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 20px;
  position: relative;
}
.bubble h4 {
  font-size: 0.7rem;
  margin: 0;
}
.bubble h4 span {
  text-transform: capitalize;
  font-style: italic;
}
.bubble p {
  font-size: 0.7rem;
  color: #666666;
}
.bubble .commentDate {
  margin: 0;
  font-size: 0.6rem;
  color: gray;
}

.bubble::after {
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #f6f6f6;
}

.commentForm h3 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #b3b3b3;
  margin: 0;
}

.swal2-popup {
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.headerContact {
  height: 50vh;
  min-height: 200px;
  max-height: 350px;
}

.contactLogo {
  font-size: 1rem;
}

.contactUsContainer {
  position: relative;
}

.contactUsImg {
  height: 20vh;
}

.contactUsImg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 0;
     object-position: 30% 0;
}

.contactUsText {
  position: absolute;
  left: 10%;
  bottom: -36px;
  width: 175px;
}

.contactDetails {
  text-align: center;
}
.contactDetails h3 {
  font-weight: bold;
}
.contactDetails p,
.contactDetails address {
  color: #666666;
}
.contactDetails ul {
  margin: 75px 0;
  padding-left: 0;
}
.contactDetails ul li {
  padding: 50px 0;
  border-bottom: 1px solid #b3b3b3;
}
.contactDetails ul li i {
  font-size: 2rem;
}
.contactDetails ul li h4 {
  font-weight: bold;
  letter-spacing: 5px;
}
.contactDetails ul li p {
  margin-bottom: 0;
}
.contactDetails ul li address {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.getInTouchForm {
  text-align: center;
}
.getInTouchForm h3 {
  font-weight: bold;
}
.getInTouchForm p {
  color: #666666;
}

.contactMainImgContainer {
  height: 300px;
  background-image: url(../assets/contact-2.jpeg);
  background-size: cover;
  background-position: 50% 0;
}

@media (min-width: 480px) {
  .features img {
    height: 400px;
  }

  .relatedPosts ul img {
    max-height: 400px;
  }
}
@media (min-width: 768px) {
  nav {
    position: relative;
  }

  label.toggle {
    display: none;
  }

  .siteNavList {
    font-size: 0.7rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .siteNavList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .siteNavList li .innerList {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .siteNavList li .innerList li {
    padding: 0 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .siteNavList li .innerList li:hover, .siteNavList li .innerList li:focus {
    text-decoration: line-through;
  }
  .siteNavList li .innerList li a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .siteNavList li .innerList li a:hover, .siteNavList li .innerList li a:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .bottomList {
    padding: 10px 0 0 0;
  }

  .siteLogo {
    font-size: 1rem;
    text-align: center;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: calc(50% - 100px);
    left: calc(50% - 100px);
  }

  .bottomList a span {
    width: 14px;
    height: 14px;
    font-size: 0.6rem;
    padding: 0;
  }

  .promo {
    position: relative;
  }
  .promo figure {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40%;
  }
  .promo figure .stamp {
    top: -40px;
    left: -30px;
  }

  .promo::before {
    content: "";
    width: 0;
    height: 20%;
    position: absolute;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    top: -10%;
    left: 50%;
  }

  .promoTextContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .carouselImgContainer span i {
    font-size: 2rem;
  }
  .carouselImgContainer img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }

  .features img {
    height: 500px;
  }

  .gridContainer .workWithUs a {
    font-size: 1.5rem;
    width: 80%;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portImgContainer {
    display: initial;
  }
  .portImgContainer img {
    max-height: 550px;
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .relatedPosts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .relatedPosts ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .relatedPosts ul p {
    text-align: left;
  }

  .lastPost {
    display: initial;
  }

  .postComments h3,
.commentForm h3 {
    text-align: left;
  }

  .userForm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .userForm input,
.userForm .userComment {
    text-align: left;
  }
  .userForm fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .contactDetails h3,
.contactDetails .contactMessage {
    text-align: left;
  }

  .getInTouchForm {
    text-align: left;
  }
}
@media (min-width: 940px) {
  .innerWrapper {
    width: 80%;
  }

  .siteNavList {
    font-size: 0.8rem;
  }

  .siteLogo {
    font-size: 1.3rem;
  }

  .bottomList a span {
    bottom: -8px;
    right: -10px;
    width: 18px;
    height: 18px;
    font-size: 0.7rem;
    padding: 1px;
  }

  .promo figure .stamp {
    top: -55px;
    left: -40px;
  }

  .carousel {
    padding: 100px 0;
  }
  .carousel p {
    font-size: 1rem;
  }

  .features {
    background-image: url(../assets/home-4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 0;
    height: 800px;
    position: relative;
  }
  .features img {
    display: none;
  }
  .features article.featuresList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 150px);
    grid-gap: 20px;
    width: 70%;
    position: absolute;
    right: 50px;
    bottom: 50px;
  }
  .features article.featuresList .featuresList1 {
    padding-top: 0;
  }
  .features article.featuresList .featuresList2 {
    padding-bottom: 0;
  }
  .features article.featuresList .featuresListItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    font-size: 0.7rem;
  }
  .features article.featuresList .featuresListItem .featureText {
    margin-left: 25px;
  }
  .features article.featuresList .featuresListItem .featureText h3 {
    margin-top: 0;
  }
  .features article.featuresList .featuresListItem .featureText p {
    font-size: 0.7rem;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .gridContainer .gridTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
    grid-column: 1/3;
  }
  .gridContainer .gridTextContainer h4 {
    margin-bottom: 0;
  }
  .gridContainer .workWithUs a {
    font-size: 1rem;
  }

  .featuredPost {
    text-align: left;
  }
  .featuredPost h1 {
    letter-spacing: 2px;
    font-size: 2rem;
  }
  .featuredPost .postByline {
    text-align: left;
    margin: 0;
  }

  .postInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 30px;
  }
  .postInfo .author {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .postInfo .author .authorText {
    text-align: left;
    margin-left: 20px;
  }
  .postInfo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0;
    margin: 40px 0 0;
  }
  .postInfo ul li {
    text-align: left;
  }
  .postInfo ul li h4 {
    margin: 0;
    font-size: 0.8rem;
  }
  .postInfo ul li p {
    margin: 0;
    font-size: 0.7rem;
  }

  .postShare {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .contactDetails ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .contactDetails ul li {
    border-bottom: none;
    width: calc(100% / 3);
    height: 300px;
  }
  .contactDetails ul li:not(:last-child) {
    border-right: 1px solid #b3b3b3;
    padding-right: 50px;
  }
  .contactDetails ul li:not(:first-child) {
    padding-left: 50px;
  }

  .contactMainImgContainer {
    height: 500px;
  }

  .footerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerContainer p,
.footerContainer li,
.footerContainer a {
    font-size: 0.6rem;
  }
  .footerContainer .contact {
    text-align: left;
  }
  .footerContainer .contact h5 {
    text-align: left;
  }
  .footerContainer .contact p {
    margin: 5px 0;
  }
  .footerContainer h5 {
    font-size: 0.9rem;
  }

  .social ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px;
  }
  .social ul li {
    padding-right: 20px;
  }
  .social ul li a {
    font-size: 1rem;
  }

  .recentPosts {
    border: none;
    padding: 0;
  }
  .recentPosts ul li {
    padding: 5px;
  }

  .subscribeNow h5 {
    text-align: right;
  }
  .subscribeNow p {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .siteNavList {
    font-size: 1rem;
  }

  .siteLogo {
    font-size: 1.5rem;
  }

  .footerContainer p,
.footerContainer li,
.footerContainer a {
    font-size: 0.8rem;
  }
  .footerContainer h5 {
    font-size: 1.1rem;
  }

  .subscribeNow div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .features {
    background-position: 90% 0;
  }

  .gridContainer .gridTextContainer p {
    font-size: 0.8rem;
  }
  .gridContainer .workWithUs a {
    font-size: 1.5rem;
  }
}